@font-face {
  font-family: 'Greycliff';
  src: url('Demo_Fonts/Fontspring-DEMO-greycliffcf-bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Greycliff';
  src: url('Demo_Fonts/Fontspring-DEMO-greycliffcf-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Greycliff';
  src: url('Demo_Fonts/Fontspring-DEMO-greycliffcf-extralight.otf') format('opentype');
  font-weight: 200;
  font-style:italic;  
  font-display: swap;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: linear-gradient(to bottom, #2E5968, #93B3C7, #ffff);
  overflow-x: hidden;
  -ms-overflow-style: none; 
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}

a{
  text-decoration: none;
  color: black;

}
header .header-content h1{
  font-family: 'Greycliff', Arial, sans-serif;
  font-weight: bold;
  font-size: 60px;
}
h1,h2,h3,h4,h5{
  font-family: 'Greycliff', Arial, sans-serif;
  font-weight: bold;
}
.footer-container .footer-content p{
  font-family:  Arial, Helvetica, sans-serif;
  font-weight: 200;
}
a,p{
  font-family: 'Greycliff', Arial, sans-serif;
  font-weight: 200;
}

.subtitle{
  font-family: 'Greycliff', Arial, sans-serif;
  font-weight: normal;
  font-size: 28px;
}
.lnked{
  font-family: 'Greycliff', Arial, sans-serif;
  font-weight: 200;
}
.navbar{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
  columns: whitesmoke;
  
}

.logopic{
  width: 100px;
  height: auto;
}
.logo{
  display: flex;
  align-items: center;
  font-weight: bold;
}
.link{
  color: whitesmoke;
  text-decoration: none;
  font-weight: bold;
}
ul{
  list-style: none;
}

.navbar-links{
  display: flex;
  align-items: center;
}

.navbar-links li{
  margin: 0 30px;
}
header{
  width: 100vw;
  height: 100vh;
  background-image: url(images/homepage/Homepage_bg.png);
  background-position: bottom;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.header-content{
  margin-bottom: 150px;
  color: whitesmoke;
  text-align: center;
}

.header-content h1{
  font-size: 7vmin;
}
.menu{
  position: absolute;
  top: 30px;
  right: 30px;
  width: 30px;
  cursor: pointer;
  display: none;
}

/*section*/
section{
  margin: 10px;
}
.discover{
  margin-bottom: 60px;
}


.title{
  margin-top: 80px;
  text-align: left;
  font-size: 4vmin;
}

.row{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.row .col{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.row .col img{
  width: 90%;
}

.discover .row{
  margin-top: 50px;
}

h4{
  font-size: 3vmin;
  margin-top: 10px;
}

.link{
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}


.line{
  height: 2px;
  width: 90%;
  margin: auto;
  margin-bottom: 30px;
  
  background: black;
}

.look{
  align-items:center;
  justify-content: center;
  min-height: 100vh;
}

.lf{
  margin-top: 70px;
  font-size: 4vmin;
  margin-bottom: 50px;
}
.lf a,
.lf h2{
  margin-bottom: 20px;
}
.container{
  max-width:max-content;
  width: 95%;
}

.container .image-part {
  text-align: left;
}
/**/
.container .image-list {
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.container .image-list::-webkit-scrollbar {
  display: none;
}

.container .image-list .image-part {
  min-width: 325px;
  margin-right: 18px;
}

.container .image-list .image-part img {
  width: 325px;
  height: 400px;
  object-fit: cover;
}

.image-list.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

/**/
.container .image-part p {
  font-size: 2vmin;
  margin-top: 10px;
  color: black;
}
.container .image-list-accomodations,
.container .image-list-restaurants,
.container .image-list-shopping,
.container .image-list-tourist{
  display: grid;
  font-size: 0;
  overflow-x: auto;
  scrollbar-width: none;
  grid-template-columns: repeat(10, 1fr);
}
.container .image-list-shopping .image-part img,
.container .image-list-restaurants .image-part img,
.container .image-list-accomodations .image-part img,
.container .image-list-tourist .image-part img{
  width: 325px;
  height: 400px;
  object-fit: cover;
  margin-right: 18px;
}

footer{
  background: #406877;
  padding-top: 50px;
}

.footer-container {
  max-width: 1140px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-content {
  width: 33.3%;
}

.footerh3{
  font-size: 28px;
  margin-bottom: 15px;
  text-align: center;
}

.footer-content p{
  width: fit-content;
  margin: auto;
  padding: 7px;
}

.footer-content a{
  text-decoration: none;
}

.footer-content ul{
  text-align: center;
}

.list{
  padding: 0;
}

.list li{
  width: auto;
  text-align: center;
  list-style-type: none;
  padding: 7px;
  position: relative;
}

.list li::before{
  content: '';
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 100%;
  width: 0;
  height: 2px;
  background: #2E5968;
  transition-duration: .5s;
}

.list li:hover::before{
  width: 70px;
}

.social-icons{
  text-align: center;
  padding: 0;
}

.social-icons li{
  display: inline-block;
  text-align: center;
  padding: 10px 0;
}

.social-icons i{
  font-size: 25px;
}

.bottom-bar{
  background: #182e36;
  text-align: center;
  padding: 10px;
  margin-top: 50px;
}

.bottom-bar p{
  color: #93B3C7;
  margin: 0;
  font-size: 16px;
  padding: 7px;
}

@media only screen and (max-width:850px){
  .menu{
    display: block;
    position: absolute;
    top: 60px;
    right: 40px;
  }
  .navbar{
    padding: 0;
  }
  .logo{
    position: absolute;
    top: 30px;
    left: 30px;
  }
  .navbar-links{
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    background: skyblue;
    margin-top: -900px;
    transition: all 0.5s ease;
  }

  .mobile-menu{
    margin-top: 0px;
    border-bottom-right-radius: 30%;
  }
  .navbar-links li{
    margin: 30px auto;
  }

  .row{
  flex-direction: column;
  }

  .row .col{
    width: 90%;
    margin-top: 40px;
    margin-bottom: 60px;
  }

  .col img{
    max-width: 90%;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .footer-content {
    flex: 1 1 30%;
    margin: 20px;
  }

  .footer-content p {
    width: 100%;
  }

}

/*This webpage is for academic purposes only.
auth.dm*/